section.shop
    .container
        .title
            span.title-bg.wow.fadeInLeft(data-wow-offset="300") shop
            h3 shop
        .shop-slider-navigation.slider-navigation
            .slider-navigation__prev.shop-slider-navigation__prev
                +icon('arrow-left','slider-navigation__icon')
            .slider-navigation__next.shop-slider-navigation__prev
                +icon('arrow-right','slider-navigation__icon')
        .shop-slider
            .shop-slider__item
                .shop-slider__inner
                    .shop-slider__info.wow.rotateInDownLeft
                        .title-block.title-block--size-small.title-block--right
                            span.title-block__text.title-block__text--left Style
                            span.title-block__title 
                                | North Nugget TT
                                br
                                | Surfboard
                        .shop-slider__price
                            ul.rating-block
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                            span.price 
                                |   $799
                                sup 99        
                        .shop-slider__btn
                            a(href="0").btn
                                span.btn__first Drop
                                span.btn__second in
                    .shop-slider__content.wow.rotateInDownRight
                        .shop-slider__banner
                            img(src="../../static/images/content/shop-slider/surfboard.png")
                            .banner-features.banner-features--1
                                .banner-features__btn
                                    span.banner-features__minus
                                    span.banner-features__plus
                                .banner-features__content
                                    |Double Concave with
                                    br
                                    |Vee Shape low point
                            .banner-features.banner-features--2
                                .banner-features__btn
                                    span.banner-features__minus
                                    span.banner-features__plus
                                .banner-features__content
                                    |Double Concave with
                                    br
                                    |Vee Shape low point
                            .banner-features.banner-features--3
                                .banner-features__btn
                                    span.banner-features__minus
                                    span.banner-features__plus
                                .banner-features__content
                                    |Double Concave with
                                    br
                                    |Vee Shape low point
                        .shop-extras
                            h4.shop-extras__title Extras
                            .shop-extras__inner
                                .shop-extras__block
                                    .shop-extras__img
                                        img(src="../../static/images/content/shop-slider/wax.png")
                                    span.shop-extras__text Sex Wax
                                    span.shop-extras__price $24.99
                                .shop-extras__block
                                    .shop-extras__img
                                        img(src="../../static/images/content/shop-slider/bracelet.png")
                                    .shop-extras__text Pura Vida
                                    span.shop-extras__price $27.99
            .shop-slider__item
                .shop-slider__inner
                    .shop-slider__info
                        .title-block.title-block--size-small.title-block--right
                            span.title-block__text.title-block__text--left Style
                            span.title-block__title 
                                | North Nugget TT
                                br
                                | Surfboard
                        .shop-slider__price
                            ul.rating-block
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                            span.price 
                                |   $799
                                sup 99        
                        .shop-slider__btn
                            a(href="0").btn
                                span.btn__first Drop
                                span.btn__second in
                    .shop-slider__content
                        .shop-slider__banner
                            img(src="../../static/images/content/shop-slider/surfboard.png")
                            .banner-features.banner-features--1
                                .banner-features__btn
                                    span.banner-features__minus
                                    span.banner-features__plus
                                .banner-features__content
                                    |Double Concave with
                                    br
                                    |Vee Shape low point
                            .banner-features.banner-features--2
                                .banner-features__btn
                                    span.banner-features__minus
                                    span.banner-features__plus
                                .banner-features__content
                                    |Double Concave with
                                    br
                                    |Vee Shape low point
                            .banner-features.banner-features--3
                                .banner-features__btn
                                    span.banner-features__minus
                                    span.banner-features__plus
                                .banner-features__content
                                    |Double Concave with
                                    br
                                    |Vee Shape low point
                        .shop-extras
                            h4.shop-extras__title Extras
                            .shop-extras__inner
                                .shop-extras__block
                                    .shop-extras__img
                                        img(src="../../static/images/content/shop-slider/wax.png")
                                    span.shop-extras__text Sex Wax
                                    span.shop-extras__price $24.99
                                .shop-extras__block
                                    .shop-extras__img
                                        img(src="../../static/images/content/shop-slider/bracelet.png")
                                    .shop-extras__text Pura Vida
                                    span.shop-extras__price $27.99
            .shop-slider__item
                .shop-slider__inner
                    .shop-slider__info
                        .title-block.title-block--size-small.title-block--right
                            span.title-block__text.title-block__text--left Style
                            span.title-block__title 
                                | North Nugget TT
                                br
                                | Surfboard
                        .shop-slider__price
                            ul.rating-block
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                            span.price 
                                |   $799
                                sup 99        
                        .shop-slider__btn
                            a(href="0").btn
                                span.btn__first Drop
                                span.btn__second in
                    .shop-slider__content
                        .shop-slider__banner
                            img(src="../../static/images/content/shop-slider/surfboard.png")
                            .banner-features.banner-features--1
                                .banner-features__btn
                                    span.banner-features__minus
                                    span.banner-features__plus
                                .banner-features__content
                                    |Double Concave with
                                    br
                                    |Vee Shape low point
                            .banner-features.banner-features--2
                                .banner-features__btn
                                    span.banner-features__minus
                                    span.banner-features__plus
                                .banner-features__content
                                    |Double Concave with
                                    br
                                    |Vee Shape low point
                            .banner-features.banner-features--3
                                .banner-features__btn
                                    span.banner-features__minus
                                    span.banner-features__plus
                                .banner-features__content
                                    |Double Concave with
                                    br
                                    |Vee Shape low point
                        .shop-extras
                            h4.shop-extras__title Extras
                            .shop-extras__inner
                                .shop-extras__block
                                    .shop-extras__img
                                        img(src="../../static/images/content/shop-slider/wax.png")
                                    span.shop-extras__text Sex Wax
                                    span.shop-extras__price $24.99
                                .shop-extras__block
                                    .shop-extras__img
                                        img(src="../../static/images/content/shop-slider/bracelet.png")
                                    .shop-extras__text Pura Vida
                                    span.shop-extras__price $27.99
            .shop-slider__item
                .shop-slider__inner
                    .shop-slider__info
                        .title-block.title-block--size-small.title-block--right
                            span.title-block__text.title-block__text--left Style
                            span.title-block__title 
                                | North Nugget TT
                                br
                                | Surfboard
                        .shop-slider__price
                            ul.rating-block
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                                li.rating-block__star
                                    img(src="../../static/images/content/sleep-slider/star.svg").rating-block__star
                            span.price 
                                |   $799
                                sup 99        
                        .shop-slider__btn
                            a(href="0").btn
                                span.btn__first Drop
                                span.btn__second in
                    .shop-slider__content
                        .shop-slider__banner
                            img(src="../../static/images/content/shop-slider/surfboard.png")
                            .banner-features.banner-features--1
                                .banner-features__btn
                                    span.banner-features__minus
                                    span.banner-features__plus
                                .banner-features__content
                                    |Double Concave with
                                    br
                                    |Vee Shape low point
                            .banner-features.banner-features--2
                                .banner-features__btn
                                    span.banner-features__minus
                                    span.banner-features__plus
                                .banner-features__content
                                    |Double Concave with
                                    br
                                    |Vee Shape low point
                            .banner-features.banner-features--3
                                .banner-features__btn
                                    span.banner-features__minus
                                    span.banner-features__plus
                                .banner-features__content
                                    |Double Concave with
                                    br
                                    |Vee Shape low point
                        .shop-extras
                            h4.shop-extras__title Extras
                            .shop-extras__inner
                                .shop-extras__block
                                    .shop-extras__img
                                        img(src="../../static/images/content/shop-slider/wax.png")
                                    span.shop-extras__text Sex Wax
                                    span.shop-extras__price $24.99
                                .shop-extras__block
                                    .shop-extras__img
                                        img(src="../../static/images/content/shop-slider/bracelet.png")
                                    .shop-extras__text Pura Vida
                                    span.shop-extras__price $27.99