section.surf
    .title
        span.title-bg.wow.fadeInLeft(data-wow-offset="300") surf 
        h3 surf
    .surf__subtitle.wow.fadeInRight(data-wow-offset="300")
        .title-block.title-block--size-small
            span.title-block__text current location
            span.title-block__title 
                | California
                span |
                | Usa
    .surf-slider__navigation.slider-navigation
        .slider-navigation__prev.surf-slider-navigation__prev
            +icon('arrow-left','slider-navigation__icon')
        .slider-navigation__next.surf-slider-navigation__next
            +icon('arrow-right','slider-navigation__icon')
    .surf-map
        .surf-map-dots.surf-map-dots--1
            .surf-map-dots__circle.wow.fadeInUpBig(data-wow-delay="1s")
            .surf-map-dots__content.wow.fadeIn(data-wow-delay="2s")
                .surf-map-dots__row
                    .surf-map-dots__header
                        span.surf-map-dots__title Airlie Beach
                        span.surf-map-dots__subtitle Usa
                    a(href="0").surf-map-dots__link
                        +icon('arrow-right','surf-map-dots__icon')
                .surf-map-dots__row
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/surf.svg').surf-map-dots__img
                        span.surf-map-dots__number 9 - 13
                        .surf-map-dots__name Surf (FT)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/tide.svg').surf-map-dots__img
                        span.surf-map-dots__number +2.3
                        .surf-map-dots__name Tide (FT)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/wind.svg').surf-map-dots__img
                        span.surf-map-dots__number 4 SE
                        .surf-map-dots__name Wind (KTS)
        .surf-map-dots.surf-map-dots--2
            .surf-map-dots__circle.wow.fadeInUpBig(data-wow-delay=".2s")
            .surf-map-dots__content
                .surf-map-dots__row
                    .surf-map-dots__header
                        span.surf-map-dots__title Airlie Beach
                        span.surf-map-dots__subtitle Australia
                    a(href="0").surf-map-dots__link
                        +icon('arrow-right','surf-map-dots__icon')
                .surf-map-dots__row
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/surf.svg').surf-map-dots__img
                        span.surf-map-dots__number +2.3
                        .surf-map-dots__name Tide (FT)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/tide.svg').surf-map-dots__img
                        span.surf-map-dots__number 4se
                        .surf-map-dots__name Wind (KTS)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/wind.svg').surf-map-dots__img
                        span.surf-map-dots__number 9 - 13
                        .surf-map-dots__name Surf (FT)
        .surf-map-dots.surf-map-dots--3
            .surf-map-dots__circle.wow.fadeInUpBig(data-wow-delay=".3s")
            .surf-map-dots__content
                .surf-map-dots__row
                    .surf-map-dots__header
                        span.surf-map-dots__title Cloud Nine
                        span.surf-map-dots__subtitle Philippines
                    a(href="0").surf-map-dots__link
                        +icon('arrow-right','surf-map-dots__icon')
                .surf-map-dots__row
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/surf.svg').surf-map-dots__img
                        span.surf-map-dots__number +2.3
                        .surf-map-dots__name Tide (FT)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/tide.svg').surf-map-dots__img
                        span.surf-map-dots__number 4se
                        .surf-map-dots__name Wind (KTS)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/wind.svg').surf-map-dots__img
                        span.surf-map-dots__number 9 - 13
                        .surf-map-dots__name Surf (FT)
        .surf-map-dots.surf-map-dots--4
            .surf-map-dots__circle.wow.fadeInUpBig(data-wow-delay=".4s")
            .surf-map-dots__content
                .surf-map-dots__row
                    .surf-map-dots__header
                        span.surf-map-dots__title Vieux Boucau
                        span.surf-map-dots__subtitle France
                    a(href="0").surf-map-dots__link
                        +icon('arrow-right','surf-map-dots__icon')
                .surf-map-dots__row
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/surf.svg').surf-map-dots__img
                        span.surf-map-dots__number +2.3
                        .surf-map-dots__name Tide (FT)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/tide.svg').surf-map-dots__img
                        span.surf-map-dots__number 4se
                        .surf-map-dots__name Wind (KTS)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/wind.svg').surf-map-dots__img
                        span.surf-map-dots__number 9 - 13
                        .surf-map-dots__name Surf (FT)
        .surf-map-dots.surf-map-dots--5
            .surf-map-dots__circle.wow.fadeInUpBig(data-wow-delay=".5s")
            .surf-map-dots__content
                .surf-map-dots__row
                    .surf-map-dots__header
                        span.surf-map-dots__title Airlie Beach
                        span.surf-map-dots__subtitle Usa
                    a(href="0").surf-map-dots__link
                        +icon('arrow-right','surf-map-dots__icon')
                .surf-map-dots__row
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/surf.svg').surf-map-dots__img
                        span.surf-map-dots__number +2.3
                        .surf-map-dots__name Tide (FT)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/tide.svg').surf-map-dots__img
                        span.surf-map-dots__number 4se
                        .surf-map-dots__name Wind (KTS)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/wind.svg').surf-map-dots__img
                        span.surf-map-dots__number 9 - 13
                        .surf-map-dots__name Surf (FT)
        .surf-map-dots.surf-map-dots--6
            .surf-map-dots__circle.wow.fadeInUpBig(data-wow-delay=".6s")
            .surf-map-dots__content
                .surf-map-dots__row
                    .surf-map-dots__header
                        span.surf-map-dots__title Airlie Beach
                        span.surf-map-dots__subtitle Australia
                    a(href="0").surf-map-dots__link
                        +icon('arrow-right','surf-map-dots__icon')
                .surf-map-dots__row
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/surf.svg').surf-map-dots__img
                        span.surf-map-dots__number +2.3
                        .surf-map-dots__name Tide (FT)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/tide.svg').surf-map-dots__img
                        span.surf-map-dots__number 4se
                        .surf-map-dots__name Wind (KTS)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/wind.svg').surf-map-dots__img
                        span.surf-map-dots__number 9 - 13
                        .surf-map-dots__name Surf (FT)
        .surf-map-dots.surf-map-dots--7
            .surf-map-dots__circle.wow.fadeInUpBig(data-wow-delay=".7s")
            .surf-map-dots__content
                .surf-map-dots__row
                    .surf-map-dots__header
                        span.surf-map-dots__title Cloud Nine
                        span.surf-map-dots__subtitle Philippines
                    a(href="0").surf-map-dots__link
                        +icon('arrow-right','surf-map-dots__icon')
                .surf-map-dots__row
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/surf.svg').surf-map-dots__img
                        span.surf-map-dots__number +2.3
                        .surf-map-dots__name Tide (FT)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/tide.svg').surf-map-dots__img
                        span.surf-map-dots__number 4se
                        .surf-map-dots__name Wind (KTS)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/wind.svg').surf-map-dots__img
                        span.surf-map-dots__number 9 - 13
                        .surf-map-dots__name Surf (FT)
        .surf-map-dots.surf-map-dots--8
            .surf-map-dots__circle.wow.fadeInUpBig(data-wow-delay=".8s")
            .surf-map-dots__content
                .surf-map-dots__row
                    .surf-map-dots__header
                        span.surf-map-dots__title Vieux Boucau
                        span.surf-map-dots__subtitle France
                    a(href="0").surf-map-dots__link
                        +icon('arrow-right','surf-map-dots__icon')
                .surf-map-dots__row
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/surf.svg').surf-map-dots__img
                        span.surf-map-dots__number +2.3
                        .surf-map-dots__name Tide (FT)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/tide.svg').surf-map-dots__img
                        span.surf-map-dots__number 4se
                        .surf-map-dots__name Wind (KTS)
                    .surf-map-dots__block
                        img(src='../../static/images/content/surf-map/wind.svg').surf-map-dots__img
                        span.surf-map-dots__number 9 - 13
                        .surf-map-dots__name Surf (FT)

    .surf-slider
        .surf-slider__item(style="background: url('../static/images/content/surf-slider/slide-1.jpg') no-repeat;background-size: cover").wow.fadeInUp(data-wow-offset="300" data-wow-delay=".3s")
            .surf-slider__inner
                .surf-slider__title Malibu beach
                .surf-slider__location California | usa
                .surf-slider__btn
                    a(href="0").btn
                        span.btn__first view
                        span.btn__second surf
        .surf-slider__item(style="background: url('../static/images/content/surf-slider/slide-2.jpg') no-repeat;background-size: cover").wow.fadeInUp(data-wow-offset="300" data-wow-delay=".6s")
            .surf-slider__inner
                .surf-slider__title Airlie Beach
                .surf-slider__location Queensland | Australia
                .surf-slider__btn
                    a(href="0").btn
                        span.btn__first view
                        span.btn__second surf
        .surf-slider__item(style="background: url('../static/images/content/surf-slider/slide-3.jpg') no-repeat;background-size: cover").wow.fadeInUp(data-wow-offset="300" data-wow-delay=".9s")
            .surf-slider__inner
                .surf-slider__title Cloud Nine
                .surf-slider__location Siargao | Philippines
                .surf-slider__btn
                    a(href="0").btn
                        span.btn__first view
                        span.btn__second surf
        .surf-slider__item(style="background: url('../static/images/content/surf-slider/slide-4.jpg') no-repeat;background-size: cover").wow.fadeInUp(data-wow-offset="300" data-wow-delay="1.2s")
            .surf-slider__inner
                .surf-slider__title Vieux Boucau
                .surf-slider__location Hossegor | France
                .surf-slider__btn
                    a(href="0").btn
                        span.btn__first view
                        span.btn__second surf
        .surf-slider__item(style="background: url('../static/images/content/surf-slider/slide-1.jpg') no-repeat;background-size: cover")
            .surf-slider__inner
                .surf-slider__title Malibu beach
                .surf-slider__location California | usa
                .surf-slider__btn
                    a(href="0").btn
                        span.btn__first view
                        span.btn__second surf
        .surf-slider__item(style="background: url('../static/images/content/surf-slider/slide-2.jpg') no-repeat;background-size: cover")
            .surf-slider__inner
                .surf-slider__title Airlie Beach
                .surf-slider__location Queensland | Australia
                .surf-slider__btn
                    a(href="0").btn
                        span.btn__first view
                        span.btn__second surf
        .surf-slider__item(style="background: url('../static/images/content/surf-slider/slide-3.jpg') no-repeat;background-size: cover")
            .surf-slider__inner
                .surf-slider__title Cloud Nine
                .surf-slider__location Siargao | Philippines
                .surf-slider__btn
                    a(href="0").btn
                        span.btn__first view
                        span.btn__second surf
        .surf-slider__item(style="background: url('../static/images/content/surf-slider/slide-4.jpg') no-repeat;background-size: cover")
            .surf-slider__inner
                .surf-slider__title Vieux Boucau
                .surf-slider__location Hossegor | France
                .surf-slider__btn
                    a(href="0").btn
                        span.btn__first view
                        span.btn__second surf