section.travel
    .container
        .title
            span.title-bg.wow.fadeInLeft(data-wow-offset="300") Travel
            h3 travel
        .travel-slider.slider-content
            .slider-content__item
                .slider-content__header(style="background: url('../../static/images/content/travel-slider/travel-slider-bg.png') no-repeat")
                    .slider-content__subtitle.wow.fadeInRight(data-wow-offset="300")
                        .title-block.title-block--size-small
                            span.title-block__text shore
                            span.title-block__title 
                                | Airlie Beach
                                span |
                                | Australia
                        .travel-slider__navigation.slider-navigation
                            .slider-navigation__prev.travel-slider-navigation__prev
                                +icon('arrow-left','slider-navigation__icon')
                            .slider-navigation__next.travel-slider-navigation__prev
                                +icon('arrow-right','slider-navigation__icon')
                .slider-content__descr(style="background-image: url('../../static/images/content/travel-slider/travel-airplane.png')").wow.fadeInUp(data-wow-offset="300")
                    .slider-content__descr--inner
                        .title-block.title-block--size-small
                            span.title-block__text.title-block__text--left Airline
                            span.title-block__title Virgin Australia
                        img(src="../../static/images/content/travel-slider/virgin.svg")
                    
                .slider-content__info
                    .slider-info__item.wow.fadeInUp(data-wow-offset="300" data-wow-delay=".3s")
                        span.slider-info__subtitle Destination
                        span.slider-info__title 
                            | Queensland
                            br
                            | Australia
                            
                    .slider-info__item.wow.fadeInUp(data-wow-offset="300" data-wow-delay=".6s")
                        span.slider-info__subtitle Distance
                        span.slider-info__title 7,065 Miles
                    .slider-info__item.wow.fadeInUp(data-wow-offset="300" data-wow-delay=".9s")
                        span.slider-info__subtitle Travel Time
                        span.slider-info__title 23 Hours 5 Minutes
                    .slider-info__item.wow.fadeInUp(data-wow-offset="300" data-wow-delay="1.2s")
                        span.slider-info__subtitle Pricing
                        span.slider-info__title $1,976 USD
                        span.slider-info__text Round trip
                .slider-content__btn
                    a(href="0").btn
                            span.btn__first book
                            span.btn__second flight
            .slider-content__item
                .slider-content__header(style="background: url('../../static/images/content/travel-slider/travel-slider-bg.png') no-repeat")
                    .slider-content__subtitle
                        .title-block.title-block--size-small
                            span.title-block__text shore
                            span.title-block__title Airlie Beach | Australia
                        .travel-slider-navigation.slider-navigation
                            .slider-navigation__prev.travel-slider-navigation__prev
                                +icon('arrow-left','slider-navigation__icon')
                            .slider-navigation__next.travel-slider-navigation__prev
                                +icon('arrow-right','slider-navigation__icon')
                .slider-content__descr(style="background-image: url('../../static/images/content/travel-slider/travel-airplane.png')")
                    .slider-content__descr--inner
                        .title-block.title-block--size-small
                            span.title-block__text.title-block__text--left Airline
                            span.title-block__title Virgin Australia
                        img(src="../../static/images/content/travel-slider/virgin.svg")
                    
                .slider-content__info
                    .slider-info__item.wow.fadeInUp(data-wow-offset="300" data-wow-delay=".3s")
                        span.slider-info__subtitle Destination
                        span.slider-info__title 
                            | Queensland
                            br
                            | Australia
                            
                    .slider-info__item.wow.fadeInUp(data-wow-offset="300" data-wow-delay=".6s")
                        span.slider-info__subtitle Distance
                        span.slider-info__title 88 Miles
                    .slider-info__item.wow.fadeInUp(data-wow-offset="300" data-wow-delay=".9s")
                        span.slider-info__subtitle Travel Time
                        span.slider-info__title 23 Hours 5 Minutes
                    .slider-info__item.wow.fadeInUp(data-wow-offset="300" data-wow-delay="1.2s")
                        span.slider-info__subtitle Pricing
                        span.slider-info__title $1,976 USD
                        span.slider-info__text Round trip
                .slider-content__btn
                    a(href="0").btn
                            span.btn__first book
                            span.btn__second flight
            .slider-content__item
                .slider-content__header(style="background: url('../../static/images/content/travel-slider/travel-slider-bg.png') no-repeat")
                    .slider-content__subtitle
                        .title-block.title-block--size-small
                            span.title-block__text shore
                            span.title-block__title Airlie Beach | Australia
                        .travel-slider-navigation.slider-navigation
                            .slider-navigation__prev.travel-slider-navigation__prev
                                +icon('arrow-left','slider-navigation__icon')
                            .slider-navigation__next.travel-slider-navigation__prev
                                +icon('arrow-right','slider-navigation__icon')
                .slider-content__descr(style="background-image: url('../../static/images/content/travel-slider/travel-airplane.png')")
                    .slider-content__descr--inner
                        .title-block.title-block--size-small
                            span.title-block__text.title-block__text--left Airline
                            span.title-block__title Virgin Australia
                        img(src="../../static/images/content/travel-slider/virgin.svg")
                    
                .slider-content__info
                    .slider-info__item
                        span.slider-info__subtitle Destination
                        span.slider-info__title 
                            | Queensland
                            br
                            | Australia
                            
                    .slider-info__item
                        span.slider-info__subtitle Distance
                        span.slider-info__title 7,065 Miles
                    .slider-info__item
                        span.slider-info__subtitle Travel Time
                        span.slider-info__title 23 Hours 5 Minutes
                    .slider-info__item
                        span.slider-info__subtitle Pricing
                        span.slider-info__title $1,976 USD
                        span.slider-info__text Round trip
                .slider-content__btn
                    a(href="0").btn
                            span.btn__first book
                            span.btn__second flight
            .slider-content__item
                .slider-content__header(style="background: url('../../static/images/content/travel-slider/travel-slider-bg.png') no-repeat")
                    .slider-content__subtitle
                        .title-block.title-block--size-small
                            span.title-block__text shore
                            span.title-block__title Airlie Beach | Australia
                        .travel-slider-navigation.slider-navigation
                            .slider-navigation__prev.travel-slider-navigation__prev
                                +icon('arrow-left','slider-navigation__icon')
                            .slider-navigation__next.travel-slider-navigation__prev
                                +icon('arrow-right','slider-navigation__icon')
                .slider-content__descr(style="background-image: url('../../static/images/content/travel-slider/travel-airplane.png')")
                    .slider-content__descr--inner
                        .title-block.title-block--size-small
                            span.title-block__text.title-block__text--left Airline
                            span.title-block__title Virgin Australia
                        img(src="../../static/images/content/travel-slider/virgin.svg")
                    
                .slider-content__info
                    .slider-info__item
                        span.slider-info__subtitle Destination
                        span.slider-info__title 
                            | Queensland
                            br
                            | Australia
                            
                    .slider-info__item
                        span.slider-info__subtitle Distance
                        span.slider-info__title 7,065 Miles
                    .slider-info__item
                        span.slider-info__subtitle Travel Time
                        span.slider-info__title 23 Hours 5 Minutes
                    .slider-info__item
                        span.slider-info__subtitle Pricing
                        span.slider-info__title $1,976 USD
                        span.slider-info__text Round trip
                .slider-content__btn
                    a(href="0").btn
                            span.btn__first book
                            span.btn__second flight