.footer.wow.fadeInUp(data-wow-offset="300" data-wow-delay=".2s")
    a(href="0").btn
        span.btn__first Go
        span.btn__second Surf
    .footer__copy
        p © Go-Surf 2018. All Rights Reserved.